
Django
djangorestframework
djangorestframework-simplejwt

mysqlclient
redis
django-redis


gunicorn
django-heroku
psycopg2-binary

django-cors-headers

python-decouple
Pillow
requests

django-widget-tweaks
django-crispy-forms
crispy-bootstrap5

django-db-logger